includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - src
        - tests
    excludePaths:
        - src/Http/Controllers
        - src/View/Components

    level: 5

    checkMissingIterableValueType: false
